

 <a href="/journal/" class="btn btn-primary btn-lg mb-2">Jokes Section</a>

 
 <a href="/articles/new" class="btn btn-primary btn-lg mb-2">Create Article</a>



 <a href="/dreams/new" class="btn btn-primary btn-lg mb-2">Save New Dream</a>

