

 <a href="/journal/" class="btn btn-secondary btn-lg mb-4">Jokes</a>

 
 <a href="/articles/new" class="btn btn-secondary btn-lg  mb-4">Create article</a>



 <a href="/dreams/new" class="btn btn-primary btn-lg mb-2">Save New Dream</a>

