<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            display: table;
            margin: auto;
        }

        body{
            vertical-align: middle;
            display: table-cell;
            background-image: url("./dreams/dream.jpeg") ;
        }
    </style>
</head>

<body>






    <h3>Welcome to your PROFILE</h3>

    <p>Id: <%= id %>
    </p>
    <p>Name: <%= name %>
    </p>
    <p>Email: <%= email %>
    </p>

</body>

</html>