nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

html {
  
  margin: auto;
}



body {

  
  background-image: url("./dream.jpeg");
}

