nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}


body {
  background-image: url("/public/css/dream.jpeg");
 
}

#container {
  background-image: url("/public/css/coloursquare.jpeg");
}