nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}





body {

  
  background-image: url("./dream.jpeg");
  
}



form {
  position: relative;
  top: 30%;
  left: 5%;
  right: 30%;
}


