<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>

<body>




    <a href="/dreams/new" class="btn btn-primary">Store New Dreaml</a>
    <div class="container">
        <% dreams.forEach(element=> { %>
            <div class="card mt-4">
                <div class="card-body">

                    <h4 class="card-text">
                        <%= element.category %>
                    </h4>

                    <div class="card-subtitle mb-2">
                        <%= element.date %>
                    </div>

                    <div class="card-text mb-2">
                        <%= element.description %>
                    </div>



                    <form action="/dreams/<%= element.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete Dream</button>

                    </form>



                </div>


            </div>

            <% }) %>
    </div>


</body>

</html>
